@model IEnumerable<BigSchool.Models.Course> 
@{
    ViewBag.Title = "Home Page";
} 
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date" style="background-color: #a3ed8f ">
                    <div class="month">
                        @course.DateTime.ToString("dd/MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("HH:mm")
                    </div>
                </div>
                <div class="details">
                    <div class="lecturer">
                        @course.Lecturer.Name
                    </div>
                    <div class="category">
                        @course.Category.Name
                    </div>
                    <div class="place">
                        @course.Place
                    </div>
                </div>
            </li>
        }
    </ul>